.titlen {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  margin-block-start: 0;
  padding-left: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
}

.mainn {
  background-color: #212121;
}

.inputn {
  outline-width: 0;
  padding: 8px 16px;
  background-color: #525252;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 8px 16px;
  flex: 1;
}

.tinputn {
  outline: none;
  background-color: #00000000;
  border: none;
  flex: 1;
  font-size: 20px;
  color: #fff;
}

.errorMsg {
  color: #aa0000;
  font-weight: bold;
  padding-left: 20px;
}

.viewBtn {
  fill: #ddd;
  animation: fill 0.2s ease-in-out;
}

.viewBtn:hover {
  fill: #999;
}