.titlen {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  margin-block-start: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.mainn {
  background-color: #212121;
}

.inputn {
  outline-width: 0;
  padding: 10px 15px;
  background-color: #525252;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px 10px;
  flex: 1;
  width: 85%;
}

.nav {
  vertical-align: middle;
  align-items: center;
}