.nav2 {
  background-color: rgb(121, 121, 238);
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.nav2btn:hover {
  fill: #ccc;
}

.animatedButton {
  transition: all 0.2s ease-in;
  fill: #ddd;
  padding: 10px;
}

.animatedButton:hover {
  fill: #999;
}

.nav2btn {
  padding: 16px;
  transition: all 0.2s ease-in;
}

.eachPsw {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.pswTextName {
  color: #ddd;
  font-weight: bold;
  font-size: 25px;
  margin: 0 0;
  cursor: default;
  padding-top: 5px;
  animation: color 0.2s ease-in-out;
}

.pswTextName:hover {
  color: #999;
}

.pswTextP {
  color: #ccc;
  padding-top: 0;
  margin: 0;
  animation: color 0.2s ease-in-out;
}

.emptyText {
  color: #ddd;
  font-weight: bold;
  margin-block-start: auto;
  padding-top: 5em;
  font-size: 25px;
}

.openImg {
  padding: 10px 15px;
}

.inputv {
  background-color: rgb(91, 91, 208);
  border-radius: 10px;
  border: 0;
  outline-width: 0;
  flex: 1;
  font-size: large;
  padding: 10px 15px;
  margin: 10px 0;
  color: white;
}

.inputv::placeholder {
  color: #ffffff88;
}

.msg {
  color: #00cc00;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.mainv {
  background-color: #212121;
  flex: 1;
}

.container {
  height: 600px;
  background-color: #212121;
}
