.form {
  text-align: center;
  background-color: #212121;
  height: 550px;
}

.error {
  color: red;
  font-weight: bold;
}

.input {
  border-radius: 10px;
  background-color: #525252;
  padding: 0.5em 10%;
  margin-top: 2em;
  color: #ddd;
  font-size: 25px;
  outline-width: 0;
  border-width: 0;
}

.button {
  color: white;
  background-color: rgb(111, 111, 228);
  padding: .7em 1.5em;
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.button:active {
  background-color: rgb(121, 121, 238);
}