.App {
  text-align: center;
  background-color: #212121;
  height: 100vh;
}

.psw {
  color: #ddd;
  font-size: 25px;
  display: flex;
}

.rowDiv {
  display: inline-block;
  vertical-align: middle;
}

.button {
  color: rgb(111, 111, 228);
  font-size: 40px;
  border: 0ch;
  margin: 0 10px;
  padding: 0 5px;
  border-radius: 15px;
}

.button:hover {
  opacity: 50%;
  transition: all 0.2s ease-in;
}

.title {
  color: white;
  margin: auto;
  padding: 1em 0;
  font-size: 25px;
  font-weight: bolder;
}

.img {
  background-color: #ddd;
  border-radius: 15px;
  padding: 1em;
  margin: 0 1.5em;
  float: inline-end;
}

.pswDiv {
  border-radius: 15px;
  background-color: #525252;
  margin: 0.5em 10%;
  margin-top: 2em;
}

.genBtn {
  color: white;
  background-color: rgb(111, 111, 228);
  padding: 1em 2em;
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
}

.genBtn:active {
  background-color: rgb(121, 121, 238);
}

.check {
  color: #ddd;
  margin-left: 10px;
  font-size: 20px;
}

.errorMsg {
  color: rgb(226, 4, 4);
  font-size: 18px;
  font-weight: bold;
}

.copied {
  color: #00d100;
}

.size30 {
  font-size: 30px;
}

.textCol {
  color: #ddd;
}

.optionDiv {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

input.checkboxes {
  margin-left: auto;
  width: 25px;
  height: 25px;
}

.active {
  background: #ffffff99;
  border-radius: 15px;
}

.nav {
  height: 90%;
  padding: 10px;
  margin: 0 10px;
  transition: all 0.2s ease-in;
}