.App {
  text-align: center;
  background-color: #212121;
  height: 100vh;
}

.psw {
  color: #ddd;
  font-size: 25px;
  display: flex;
}

.rowDiv {
  display: inline-block;
  vertical-align: middle;
}

.button {
  color: rgb(111, 111, 228);
  font-size: 40px;
  border: 0ch;
  margin: 0 10px;
  padding: 0 5px;
  border-radius: 15px;
}

.button:hover {
  opacity: 70%;
  transition: all 0.2s ease-in;
}

.img {
  fill: #ddd;
  margin-left: auto;
  animation: all 0.2s ease-in-out;
}

.img:hover {
  fill: #bbb;
}

.pswDiv {
  display: flex;
  border-radius: 20px;
  background-color: #525252;
  margin: 32px 5%;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
}

.genBtn {
  color: white;
  background-color: rgb(111, 111, 228);
  padding: 1em 2em;
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
}

.genBtn:active {
  background-color: rgb(121, 121, 238);
}

.check {
  color: #ddd;
  margin-left: 10px;
  font-size: 20px;
}

.errorMsg {
  color: rgb(226, 4, 4);
  font-size: 18px;
  font-weight: bold;
}

.copied {
  color: #00d100;
}

.size30 {
  font-size: 30px;
}

.textCol {
  color: #ddd;
}

.optionDiv {
  display: flex;
  padding: 0 15px;
  align-items: center;
}

input.checkboxes {
  margin-left: auto;
  width: 25px;
  height: 25px;
}

.lenBtn {
  animation: fill 0.2s ease-in-out;
  fill: rgb(121, 121, 238);
  padding: 10px;
}

.lenBtn:hover {
  fill: rgb(101, 101, 208)
}